Title: => $"{Constants.SiteTitle}"
HideSidebar: true
---
<div class="jumbotron jumbotron-fluid hero">
    <div class="container-fluid">
        <h2 class="display-4 text-center">Cory Knox - Software Developer</h2>
        <hr class="my-4">
        <div class="text-center">
			<p>Welcome to my weird corner of the internet. Here I hope to provide value through blog posts and other such things.</p>
			<a class="btn btn-primary btn-lg" href="/@Constants.BlogPath/" role="button">Go to Blog</a>
			<a class="btn btn-primary btn-lg" href="@Constants.ResumeUri" role="button">Go to Resume</a>
        </div>
    </div>
</div>
