Title: Home
HideTitle: true
---
<div>
    <h1 style="text-align: center;">
        Cory Knox
        <br>
        Software Developer
    </h1>
    <p>
        Welcome to my weird corner of the internet. Here I hope to provide value through blog posts and other such
        things.
    </p>
</div>
<div style="text-align: center;">
    <img src="assets/img/Cory.png" width="700" loading="lazy">
</div>
