ArchiveSources: => $"posts/**/*"
ArchivePageSize: => 5
ArchiveOrderKey: Published
ArchiveOrderDescending: true
Title: Blog
ArchiveTitle: >
  => $"{GetString("Title")}{(GetInt("Index") > 1 ? (" (Page " + GetInt("Index") + ")") : null)}"
---

<section>
    <div>
        @Html.Partial($"/_posts.cshtml", Document.GetChildren())
    </div>
</section>
