<footer style="text-align: center">
    <a href="https://github.com/corbob"><img src="/assets/img/logos/github.png" class="footer-link" /></a>
    <a href="https://www.linkedin.com/in/knoxcory"><img src="/assets/img/logos/linkedin.png" class="footer-link" /></a>
    <a href="https://twitch.tv/corbob"><img src="/assets/img/logos/twitch.png" class="footer-link" /></a>
    <a href="/blog/rss/index.rss"><img src="/assets/img/logos/rss.png" class="footer-link" /></a>
    <a href="https://twitter.com/coryknox"><img src="/assets/img/logos/twitter.png" class="footer-link" /></a>
</footer>
