<footer>
    <a href="https://github.com/corbob"><img src="/img/logos/github.png" class="footer-link" /></a>
    <a href="https://www.linkedin.com/in/knoxcory"><img src="/img/logos/linkedin.png" class="footer-link" /></a>
    <a href="https://twitch.tv/corbob"><img src="/img/logos/twitch.png" class="footer-link" /></a>
    <a rel="me" href="https://fosstodon.org/@corbob"><img src="/img/logos/mastodon.png" class="footer-link" /></a>
    <a href="/index.xml"><img src="/img/logos/rss.png" class="footer-link" /></a>
</footer>
